div#root {
  background-color: aliceblue;
}

.glider-table-header {
  background-color: #c0c0c0;
  border: 0.1px solid black;
  font-size: medium;
  font-weight: bold;
  text-align: center;
}
.glider-table {
  border: 0.1px solid black;
  font-size: medium;
}
.glider-def {
  border-left: 0.1px solid black;
  border-top: 0.1px solid black;
  border-right: 0.1px solid black;
}
.glider-rem {
  border-left: 0.1px solid black;
  border-bottom: 0.1px solid black;
  border-right: 0.1px solid black;
}
.license {
  font-weight: bold;
}
.license-list {
  border-bottom: 0.1px solid grey;
}
.licenses-container {
  align-self: center;
}
.licenses-card {
  width: 12rem;
}
.profile-container {
  margin: 0.6rem 1rem;
}
.profile-pic {
  max-width: 100%;
}
.rounded-box {
  border-radius: 5px;
  border: 0.5px solid #6c757d;
  background-color: #f8f9fa;
}
.app-header {
  height: 100px;
  background-color: #a7bbec;
}
.glider-list {
  width: 40% !important;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
