.glider-table-header{
  background-color: #c0c0c0;
  border:0.1px solid black;
  font-size:medium;
  font-weight: bold;
  text-align: center;
}
.glider-table{
  border:0.1px solid black;
  font-size:medium;
}
.glider-def{
  border-left: 0.1px solid black;
  border-top: 0.1px solid black;
  border-right: 0.1px solid black;
}
.glider-rem{
  border-left: 0.1px solid black;
  border-bottom: 0.1px solid black;
  border-right: 0.1px solid black;
}
.license{
  font-weight: bold;
}
.license-list{
  border-bottom: 0.1px solid grey;
}